#{extends 'main.html' /}
#{set title:'signup in Collecterest' /}

<div class="row white lighten-5">
  <div class="teal lighten-1">
    <img src="/public/images/logo.png">
  </div>
  <h5 class="center-align signup-message">アカウントを作成してください。</h5>

  <div class="row center-align signup-components">
    <ul>
      <li class="signup-list">
        <a href="${url}" class="btn-facebook white-text">
          <div class="label-facebook">
            Facebookでログイン
          </div>
        </a>
      </li>
      <li class="signup-list">
        <a href="#">Twitter</a>
      </li>
      <li class="signup-list">
        <a href="#">Google+</a>
      </li>
    </ul>
  </div>
</div>
