#{extends 'main.html' /}
#{set title:'Collecterest' /}
<div class="row white lighten-5"> <!-- Background -->
  <div class="col s2"> <!-- nav -->
    <div class="navbar-fixed">
      <div class="nav-wrapper">
        <div class="left_colum col s2">
        <div class="row card-panel teal lighten-3 white-text center-align">
          <a class="waves-effect waves-white lighten-5 btn-flat white-text" href="#" onclick="askSignup(); return false;">ログイン</a>
        </div>
      </div>
      </div>
    </div>
  </div> <!-- nav end -->

  <div class="col s10"> <!-- column -->
    <div class="card-panel teal lighten-1 white-text center-align"> <!-- card-panel -->
      <div class="top-headline">
        <ruby>
        <rb><h3>「おもしろい」を</h3></rb>
        <rt><h5 class="center-align">Interest</h5></rt>
      </ruby>
      <ruby>
        <rb><h3>集める。</h3></rb>
        <rt><h5 class="left-align">Collection</h5></rt>
      </ruby>
    </div>
      <p class="top-headline">
        <img src="/public/images/logo.png">
      </p>
      <div class="row">
        <div class="col s4">
        <!-- promo content -->
        <div class="center promo-contents">
          <i class="material-icons large">web</i>
          <p class="promo-caption">投稿</p>
          <p class="ilght center">あとで読みたい記事<br>興味を持った記事を投稿。</p>
        </div>
      </div>
      <div class="col s4">
        <!-- promo content -->
        <div class="center promo-contents">
          <i class="material-icons large">done</i>
          <p class="promo-caption">共有</p>
          <p class="ilght center">共通の話題を<br>グループで共有。</p>
        </div>
      </div>
      <div class="col s4">
        <!-- promo content -->
        <div class="center promo-contents">
          <i class="material-icons large">grade</i>
          <p class="promo-caption">アーカイブ</p>
          <p class="ilght center">お気に入りの記事を<br>アーカイブ。</p>
        </div>
      </div>
    </div>
    </div> <!-- card-panel -->
  </div> <!-- column end -->
</div> <!-- Backgroud end -->
