#{extends 'main.html' /}
#{set title:'Collecterest' /}
<div class="row white lighten-5"> <!-- Background -->
  <div class="col s2"> <!-- nav -->
    <div class="navbar-fixed">
      <div class="nav-wrapper">
        <div class="row card-panel teal lighten-3 white-text center-align">
          <a class="waves-effect waves-white lighten-5 btn-flat white-text" href="${url}">ログイン</a>
        </div>
        #{if user}
        <div class="row card-panel teal lighten-3 white-text cernter-align">
          こんにちは ${user.name} さん
          <img src="${user.iconUrl}">
        </div>
        #{/if}
      </div>
    </div>
  </div> <!-- nav end -->

  <div class="col s10"> <!-- column -->
    <div class="card-panel teal lighten-1 white-text center-align"> <!-- card-panel -->
      <ruby>
        <rb><h3>おもしろいを</h3></rb>
        <rt><h5 class="center-align">Interest</h5></rt>
      </ruby>
      <ruby>
        <rb><h3>集める。</h3></rb>
        <rt><h5 class="left-align">Collection</h5></rt>
      </ruby>
      <p>
        <h4>Collecterest（ロゴっぽいの）</h4>
      </p>
      <div class="row">
        <div class="col s4">
        <!-- promo content -->
        <div class="center promo promo-example">
          <i class="material-icons large">flash_on</i>
          <p class="promo-caption">できること</p>
          <p class="ilght center">文章が入ります。文章が入ります。文章が入ります。</p>
        </div>
      </div>
      <div class="col s4">
        <!-- promo content -->
        <div class="center promo promo-example">
          <i class="material-icons large">flash_on</i>
          <p class="promo-caption">できること</p>
          <p class="ilght center">文章が入ります。文章が入ります。文章が入ります。</p>
        </div>
      </div>
      <div class="col s4">
        <!-- promo content -->
        <div class="center promo promo-example">
          <i class="material-icons large">flash_on</i>
          <p class="promo-caption">できること</p>
          <p class="ilght center">文章が入ります。文章が入ります。文章が入ります。</p>
        </div>
      </div>
    </div>
    </div> <!-- card-panel -->
  </div> <!-- column end -->
</div> <!-- Backgroud end -->
